@model Login
@{
    ViewData["Title"] = "Registered";
}

<div class="text-center">
    <h1 class="display-4">Registration Complete!</h1>
    <hr style="border-color:white;">
</div>
<div style="text-align: left;">
    <h3 style="color: deepskyblue;">Your Login Credentials are: </h3>
    <b>Email:  </b>@Model.email<br />
    <b>Username:  </b>@Model.username<br />
    <b>Password:  </b>@Model.password<br />
</div>


