@{
    ViewData["Title"] = "Blog";
    Layout = "UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Available Blogs</h1>
    <hr style="border-color:white;">
    <script src="//rss.bloople.net/?url=http%3A%2F%2Fwww.smithpodcast.com%2F1%2Ffeed&showtitle=false&type=js"></script>
</div>
