@{
	ViewData["Title"] = "Game";
	Layout = "_Layout";
}

<div class="text-center">
	<h1 class="display-4">Welcome to our Podcast!</h1>
	<p>Hope you enjoy your stay!</p><hr />
	<h2>Think you know your stuff?</h2>
	<form method="post" name="quiz" class="center">
		<label>How long is a football field?</label><br />
		<input type="radio" name="score" value="10" checked> 100 yards<br>
		<input type="radio" name="score" value="0"> 100 feet<br>
		<input type="radio" name="score" value="0"> 100 inches<br />
		<label>How tall is the average male</label><br />
		<input type="radio" name="score1" value="10" checked>5'9"<br>
		<input type="radio" name="score1" value="0">5'10"<br>
		<input type="radio" name="score1" value="0"> 5'11"<br />
		<label>How tall is the average female?</label><br />
		<input type="radio" name="score2" value="0" checked> 5'2"<br>
		<input type="radio" name="score2" value="0"> 5'3"<br>
		<input type="radio" name="score2" value="10"> 5'4"<br />
		<label>What is the longest distance anyone has ever swam</label><br />
		<input type="radio" name="score3" value="0" checked> 98.3 miles<br>
		<input type="radio" name="score3" value="10"> 139 miles<br>
		<input type="radio" name="score3" value="0"> 217 miles<br />
		<label>Did you like our Quiz?</label><br />
		<input type="radio" name="score4" value="10" checked> Yes<br>
		<input type="radio" name="score4" value="10"> Totally<br>
		<input type="radio" name="score4" value="10"> Of Course <br />
		<input type="submit" name="Final" value="How'd You Do?">
	</form>

</div>

<?php
if (isset($_POST['Final']))
{
	$q1 = $_POST["score"];
	$q2 = $_POST["score1"];
	$q3 = $_POST["score2"];
	$q4 = $_POST["score3"];
	$q5 = $_POST["score4"];
	$total = q1+q2+q3+q4+q5;
	echo "Your Final Score is..." . $total;
}
?>
