@{
    ViewData["Title"] = "Home Page";
    Layout = "UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span style="color:deepskyblue;">@ViewData["username"]</span>!</h1>
    <p>Hope you enjoy your stay!</p><hr style="border-color:white;">
    <h2>Listen to Our Latest Podcast!</h2>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fawordoftruth.sounder.fm%2Fshow%2FWzPXz%2Frss.xml&limit=1&showtitle=false&type=js"></script>
    <hr style="border-color:white;">
    <h2>Read Our Latest Blog!</h2>
    <script src="//rss.bloople.net/?url=http%3A%2F%2Fwww.smithpodcast.com%2F1%2Ffeed&limit=1&showtitle=false&type=js"></script>
</div>
