@{
    ViewData["Title"] = "Podcast";
    Layout = "UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Available Podcasts</h1>
    <hr style="border-color:white;">
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fawordoftruth.sounder.fm%2Fshow%2FWzPXz%2Frss.xml&showtitle=false&type=js"></script>
</div>