@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dear Reader,</p>
<br />
<p>It is with the deepest of regrets that we say that we do not have a privacy policy. Mainly, because we don't have any</p>
<p>important information that we would need to protect. Please accept this apology, and have a good rest of your day...</p>
<br />
<p>Your Bros, </p>
<br />
<p>Drew and Jaron</p>
