
@model Quiz

@{
    ViewData["Title"] = "Quiz Result";
    Layout = "UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Quiz Results</h1>
    <hr style="border-color:white;">
</div>
<b>Score: </b> @Model.score