@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Podcast!</h1>
    <p>Hope you enjoy your stay!</p><hr />
    <h2>Read Our Latest Blog!</h2>
    <script src="//rss.bloople.net/?url=http%3A%2F%2Fwww.smithpodcast.com%2F1%2Ffeed&showtitle=false&type=js"></script>
</div>
