
@{
    ViewData["Title"] = "Help";
}

<h1 style="text-align:center;" class="display-4">Help</h1>
<p>To Register: Click Registration Button</p>
<p>Enter email, Username (must be longer than 4 characters), Password (longer than 10 characters)</p>\
<p>Must log in through Login Portal</p>
<hr />
<p>To Log In: click Login tab</p>
<p>Enter Email, User, Password. If Successful Will Be Redirected to User Homepage</p>
<hr />
<p>To Listen to Podcast:</p>
<p>Click Podcast Page, Select Desired Podcast.</p>
<p>Will Be Redirected to Media Player, Select Play to Listen!</p>
<hr />
<p>To Read Blog:</p>
<p>Log in to Account. Click Blog Page. Select Blog to Read!</p>
<p>Redirects to Blog Website, and Have Full Access To Article!</p>
<hr />
<p>To Play Game:</p>
<p>Click Quiz Game. Play Quiz, Submit, and See How You Do, and Compare It to Others!</p>
