@{
    ViewData["Title"] = "Podcast";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Podcast!</h1>
    <p>Hope you enjoy your stay!</p><hr />
    <h2>Listen to Our Latest Podcast!</h2>
    <script src="//rss.bloople.net/?url=https%3A%2F%2Fawordoftruth.sounder.fm%2Fshow%2FWzPXz%2Frss.xml&showtitle=false&type=js"></script>
</div>
